{% extends 'base.html' %}

{% block meta %} 
<title>Product List</title>
{% endblock meta %}

{% block content %}
    <!-- Header -->
    <header>
        <h1>Product List</h1>
    </header>

    <!-- Product Listing -->

    {% if not sneakers %}
    <p>Belum ada data Sneakers.</p>
    {% else %}    
    <table>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
      
        {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
        {% endcomment %} 
        {% for s in sneakers %}
        <tr>
          <td>{{s.id}}</td>
          <td>

            <img src={{s.image}}>
            
            
        
        </td>
          <td>{{s.name}}</td>
          <td>{{s.price}}</td>
          <td>{{s.description}}</td>
          <td>{{s.quantity}}</td>


        </tr>
        {% endfor %}
      </table>      
    {% endif %}

    <br />

    <a href="{% url 'main:create_sneakers' %}">
    <button>Add New Sneakers</button>
    </a>
    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 MyShop. All Rights Reserved.</p>
    </footer>

{% endblock content %}