<!-- templates/product_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Product List</h1>
    </header>

    <!-- Product Listing -->
    <section class="sneakers-listing">
        <div class="sneakers-grid">
            {% for sneakers in sneakers %}
                <div class="sneakers-item">
                    <!-- Gambar Produk -->
                    {% if sneakers.image %}
                        <img src="{{ sneakers.image }}" alt="{{ sneakers.name }}">
                
                    {% endif %}
                    
                    <!-- Nama Produk -->
                    <h2>{{ sneakers.name }}</h2>
                    
                    <!-- Harga Produk -->
                    <p class="price">Price: ${{ sneakers.price }}</p>
                    <!-- Deskripsi Produk -->
                    <p class="description">{{ sneakers.description }}</p>

                    <!-- Kuantitas Produk -->
                    <p class="quantity">Available: {{ sneakers.quantity }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 MyShop. All Rights Reserved.</p>
    </footer>

</body>
</html>
